/*mobile*/
@media screen and (orientation: portrait) and (min-width: 360px) and (min-height:800px) {
body{
    background-color: #7196a6;
}
}
/*tablet*/
@media screen and (orientation: landscape) and (min-width: 1024px) and (min-height:768px) {
body{
    background-color: #7196a6;
}
}
/*desktop*/
@media screen and (orientation: landscape) and (min-width: 1920px) and (min-height:1080px) {
body{
    background-color: #7196a6;
}
}



body{
background-color: #7196a6;
}
#logo_div{
    display: flex; /* Aktivuje flexbox */
    justify-content: center; /* Horizontální centrování */
    align-items: center; /* Vertikální centrování */
    height: 110px; /* Nastavte výšku podle potřeby */
    background-color: #5397d8; /* Volitelný styl pozadí */
}
#logo{
    max-width: 100%; /* Zabrání překročení šířky rodiče */
    height: auto; /* Zachová poměr stran obrázku */
}
#nav_div{
    display: flex; /* Aktivuje flexbox */
    justify-content: center; /* Horizontální centrování */
    align-items: center; /* Vertikální centrování */
    height: 30px; /* Nastavte výšku podle potřeby */
    background-color: #6fa3dc; /* Volitelný styl pozadí */

}
#main{
    display: flex; /* Aktivuje flexbox */
    justify-content: center; /* Horizontální centrování */
    align-items: center; /* Vertikální centrování */
    background-color: #7196a6; /* Volitelný styl pozadí */
}
#main_categories_div
{
    position: absolute;
    top: 40%;
}
#shopping_list{
    display: flex; /* Aktivuje flexbox */
    justify-content: center; /* Horizontální centrování */
    align-items: center; /* Vertikální centrování */
    background-color: #f3ebbf; /* Volitelný styl pozadí */
    max-width: 350px;
}
#main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8cdcd5;
    max-width: 500px;
    justify-self: center;
}
.category{
    width: 150px;
    height: 150px;
}
#sweet{
    background-image: url("../images/categories_pictures/cupcake.jpg");
    background-repeat: no-repeat;
    color: white;
}